alembic
APScheduler
bcrypt
blinker
certifi
cffi
chardet
click
dotenv
email_validator
Flask
Flask-Bcrypt
Flask-Dance
Flask-DebugToolbar
Flask_login
Flask-Mail
Flask-Migrate
Flask-OAuth
Flask-OAuthlib
Flask-SQLAlchemy
Flask-WTF
gunicorn
httplib2
idna
itsdangerous
Jinja2
lazy
Mako
MarkupSafe
oauth2
oauthlib
pillow
prometheus_flask_exporter
pycparser
python-dateutil
python-editor
requests
requests-oauthlib
scheduler
six
SQLAlchemy
SQLAlchemy-Utils
urllib3
URLObject
Werkzeug
wincertstore
WTForms
yfinance

